<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syu.supporter.login.LoginDao">
 
<resultMap type="com.syu.supporter.login.LoginInfo" id="LoginInfoResult">
    <result column="ID" property="id"/>
    <result column="PW" property="pw"/>
</resultMap>
     
<!-- 로그인 체크 쿼리 -->
    <select id="loginCheck" resultType="java.lang.Integer" parameterType="com.syu.supporter.login.LoginInfo">
        SELECT COUNT(*) FROM MEMBER
        <where>
        ID = #{id}
            AND
        PW = #{pw}
        </where>
    </select>
     
<!-- Select -->
    <select id="totalAccount" resultType="integer">
        SELECT COUNT(*) FROM MEMBER
    </select>

    
</mapper>